/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ---------------------------------------------------- RESPONSIVE MOBILE ----------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------*/
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
    /* background-color: green;  */
}


/* -------------------------------------------------MOBILE - Grid - Whole Webpage ------------------------------------------------------*/

#content{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
    grid-template-columns: 100vw;
    grid-gap: 10px;
    max-width: 100vw;
    margin: 0 auto;
    /* background-color: blue; */

}

/* ---------------------------------------------------- Mobile - SECTION NAVIGATION ----------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/


ul li a{
    padding: 25px 5px;
}

ul li .li-down2{
    position: relative;
    margin: 30px;
    left: 20%;
    /* border: #FFFFFF 1px solid; */
}

#moon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 15px 15px 0 0 white;
            box-shadow: 15px 15px 0 0 white;
    left: -4%;
    top: -135px;;
    z-index: 99999;
  }


/* ---------------------------------------------------- Navigation Line ----------------------------------------------------------------*/

nav .line1{
    width:35%;
    right:10px;
    top: 42.5px;
}

nav .line2{
    width:35%;
    left:10px;
    top: 42.5px;
}

/* ------------------------------------------------------ 3D ANIMATION ------------------------------------------------------------------*/

.animation2{
    width:90%;
    top: 45%;
    /* background-color: aqua; */
}

.animation2 iframe{
    position: relative;
    left: 10px;


}

.animation3{
display: none;
}
/* ---------------------------------------------------- Mobile - SECTION HEADER TITLE  ----------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


header #header-title{
    padding-top: 0px;
}

header #header-title .name-title{
    font-size: 50px;
}

/* ---------------------------------------------------- SECTION HEADER - LINE FIGURES -------------------------------------------------------*/




/* none */




/* ---------------------------------------- SECTION HEADER - Small Vertical Lines Middle Figures -----------------------------------------------------*/


.header-line .vertical-line-small-1{
    height: 90px;

}

.header-line .vertical-line-small-2{
display: none;

}

/* -------------------------------------------------- SECTION HEADER - Big X Figures  ---------------------------------------------------------------*/




/* none */



/* ------------------------------------------- SECTION HEADER -  Big X Figures 2 --------------------------------------------------------------------*/

.header-line .line-x3-middle{
    bottom: 32%;
}

.header-line .line-x4-middle{
    bottom: 32%;
}

/* ------------------------------------------- SECTION HEADER -  Small X Figures --------------------------------------------------------------------*/



.header-line .line-x8,.header-line .line-x7{
display: none;

}


/* ------------------------------------------- SECTION HEADER -  Small Stars Figures --------------------------------------------------------------------*/

.figure-star{
    top: 30%;
}



.figure-star2{
    right: 15%;
}


.figure-star3{
display: none;
}

.figure-star4{
    right: 15%; 
    top: 98%;
}


.figure-star5{
    right: 10%;
    top: 169%;
}
 

.figure-star6{
    display: none;
}


/* ------------------------------------------- SECTION HEADER -  Big Vertical Lines Figures --------------------------------------------------------------------*/

.header-line .vertical-line-right{
display: none;

}

.header-line .vertical-line-left{
display: none;

}



/* ----------------------------------------------------- SECTION HEADER -  Title Text --------------------------------------------------------------------------*/


.title-text .web-h1{
    font-size: 38px;
    font-family: 'Braston';
}

.title-text .designer-h2{
    font-size: 18px;
    font-family: 'Audhistine';
    color: #8AAED5;
    position: relative;
    right: 80px;
}

.title-text .developer-h1{
    font-size: 38px;
    font-family: 'Braston';
    position: relative;
    top: -58px;
    left: 80px;
}

/* -------------------------------------------------- SECTION HEADER -  Big Circle Text DIV / IMG  -------------------------------------------------------------*/

#header-title .circle-text{
    /* background-color: yellow; */
    min-height: 0px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
}

    #header-title .circle-text1{
    height: 230px;
    width: 230px;
    position: relative;
    -webkit-animation: rotateText 20s linear infinite;
            animation: rotateText 20s linear infinite;
    }  

    @-webkit-keyframes rotateText{
        0%{
                    -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
        }
        100%{
                    -webkit-transform:rotate(0deg);
                            transform:rotate(0deg);
        }
    }  

    @keyframes rotateText{
        0%{
                    -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
        }
        100%{
                    -webkit-transform:rotate(0deg);
                            transform:rotate(0deg);
        }
    }

    #header-title .distortion{
        min-width: 180px;
        height: 180px;
        position: absolute;
    }


/* ---------------------------------------------------- Desktop - SECTION ABOUT  -----------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------------*/


 #about{
    /* border: solid 1px white;  */
    height: 1200px;
    /* background-color: blue; */
}


/* ---------------------------------------- SECTION ABOUT -  Small Circle Text DIV / IMG ---------------------------------------------------------*/


#about .story-text{
    /* background-color: yellow; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 1100px;
    width: 100%;
}  

/* ---------------------------------- SECTION ABOUT -  Story Text / Small circle / My story DIV  --------------------------------------------------*/

#about .my-story{
    /* background-color: rebeccapurple;  */
    width: 90%;
    height: 800px;
    text-align: left;
}  

#about .story-text .my-story p{
    font-size: 24px;
    font-weight: lighter;

}

#about .circle-text2{
    /* background-color: aqua; */
    height:200px;
padding-top: 100px;
}


#about .circle-text-image{
    width: 230px;
    height: 230px;
}   
#about .circle-image-big{
    width: 170px;
    height: 170px;
}    

.my-story p{
    /* border: black solid 1px; */
    font-size: 23px;
    font-display: block;
    max-width: 500px;
}
/* --------------------------------------------------------- Mobile - SECTION CV  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


#cv{
    max-height: 1800px;
    /* background-color: blueviolet; */
}

/* --------------------------------------------- SECTION CV -  CV Title Text -------------------------------------------------------------*/
 #cv .header-line{
    height: 250px;
    /* background-color: brown; */
}

#cv .header-line .vertical-line-small-1{
    bottom: 70%;
    height: 80px;
}

 #cv .title-text{
    /* background-color:green ; */
    height: 250px;
}

#cv .title-text .creative-h1{
    font-size: 50px;
    /* background-color: rgb(118, 38, 123); */
    height: 70px;
}

#cv .title-text h2{
    font-size: 20px;
    color: #8AAED5;
    /* background-color: rgb(51, 64, 139); */
    height: 70px;
    position: absolute;
    top: 65px;
    left: 100px;
}

#cv .title-text .designer-h1{
    font-size: 50px;
    font-family: 'Braston';
    /* background-color: aquamarine; */
    height: 70px;
    position: absolute;
    top: 70px;
    left: 200px;


}

/* --------------------------------------------- SECTION CV -  Lines -------------------------------------------------------------*/

#cv  .header-line .line-x9,#cv  .header-line .line-x10{
    position: absolute;
    top: 400px;
}
 
#cv  .figure-star{
    left: -3%;
    top: 59%;
    z-index: 999;
}

#cv .figure-star2{
    right: 8%;
    top:170%;
    z-index: 999;
}

/* --------------------------------------------- SECTION CV -  Downloads/Links/Image -------------------------------------------------------------*/

#cv .cv-downloads{
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* background-color: green; */
}

#cv .cv-downloads a{
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    font-family: 'Braston';
    font-size: 30px;
    color: #FFFFFF;
    background-color: black;
}

#cv .cv-downloads .file{
    border: #FFFFFF 1px solid;
    height: 60px;
    width: 300px;
}

/* --------------------------------------------------- SECTION  ANIMATION --------------------------------------------------------------------*/

#animation{
    display: none;
    height: 500px;
    /* background-color: orange; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.animation-w {
    /* background-color: khaki; */
    /* display: none; */
    height: 400px;
    top: 35%;
}

/* --------------------------------------------------------- Desktop - SECTION PROJECTS  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------------*/

#projects{
    height: 100%;
    /* background-color: red; */
}

.title-text .projects-h1{
    font-size: 50px;
    font-family: 'Braston';
    /* background-color: rosybrown; */
    position: absolute;
    left: 20%;
    top:90px;
}

.title-text .and-h2{
    font-size: 20px;
    /* color: #8AAED5; */
}

.title-text .designs-h1{
    font-size: 50px;
    font-family: 'Braston';
    position: absolute;
    right: 20%;
    top: 200px;
}

.gallery-image h1{
    text-align: left;
    padding-top: 20px;
    font-size: 40px;
    font-weight: lighter;
  }

 /* --------------------------------------------- SECTION PROJECTS -  Small Stars Figures  -------------------------------------------------------------*/


#projects .title-text .figure-star{
    left: 65%;
    top: 90px;
}


#projects .title-text .figure-star2{
    right: 70%;
    top: 140px;
}


 /* --------------------------------------------------------- Desktop - SECTION CONTACT  ---------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------*/


#contact{
    /* background-color: #8AAED5; */
    height: 500px;
}

#contact .header-line .vertical-line-small-1{
display:none;

}

#contact .header-line{
    height: 300px;
    width: 100%;
    /* background-color: blue; */
}

#contact .introduction-text {
    height: 200px;
    /* background-color: yellow; */
}

#contact .introduction-text p{
    width: 300px;
    height: 200px;
    /* background-color: green; */
    top: 190px;
}

#contact .introduction-text a{
    /* bottom: 20px; */
    font-size: 30px;
    /* background-color: orange; */

}

#contact .header-line .line-x3-middle, #contact .header-line .line-x4-middle {
    display: none;
}

#contact iframe{
    display: none;
}
/* --------------------------------------------------------- Desktop - SECTION FOOTER  ---------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 130px;
    /* background-color: red; */
}

footer .social-media{
    height: 100px;
    /* border: solid 1px black; */
}

    
footer .social-media a{
    font-size: 3em; 
    color: white;
}


