/* ---------------------------------------------------- My CSS Reset --------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	}

*, *:after, *:before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
  
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


}


/* ------------- Button to Top -------------*/

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px; 
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}



/* ---------------------------------MOBILE - Grid - Whole Webpage ------------------------------------*/

#content{
    display: grid;
    grid-template-columns: 375px;
    grid-gap: 10px;
    max-width: 375px;
    margin: 0 auto;
}

#content >*{
    background: #000000;         
} 



/* ---------------------------------------------------- Desktop - Section NAVIGATION ----------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------*/


ul li a{
    padding: 25px 5px;
}

ul li .li-down2{
    position: relative;
    margin: 30px;
    left: 20%;
    /* border: #FFFFFF 1px solid; */
}


#moon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 white;
    left: -4%;
    top: -135px;;
    z-index: 99999;
  }


/* Linien */

nav .line1{
    width:35%;
    right:10px;
}

nav .line2{
    width:35%;
    left:10px;
}

/* ------------------------- 3D ANIMATION ------------------------------*/


.animation2{
    width:100%;
    top: 37%;
    /* background-color: aqua; */
    padding-bottom: 100px;
}

.animation3{
display: none;
}
/* ---------------------------------------------------- Desktop - Section HEADER TITLE  ----------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


header #header-title{
    padding-top: 0px;
}

header #header-title .name-title{
    font-size: 50px;
}




/* ------------------------- HEADER LINE FIGURES ------------------------------*/

.header-line{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px white solid; */
    height: 400px;
}

/* ---------------- Small Vertical Lines Middle Figures  ---------------------*/


.header-line .vertical-line-small-1{
    height: 90px;

}

.header-line .vertical-line-small-2{
display: none;

}

/* ------------------------------ Big X Figures  -----------------------------*/

.header-line .line-x1-middle{
    border-left: 3px solid #FFFFFF;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    transform: rotate(45deg);
}

.header-line .line-x2-middle{
    border-left: 3px solid #FFFFFF;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    transform: rotate(-45deg);
}

/* ------------------------------ Big X Figures 2  ----------------------------*/

.header-line .line-x3-middle{
    border-left: 3px solid #FFFFFF;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 32%;
    margin-left: -3px;
    transform: rotate(45deg);
}

.header-line .line-x4-middle{
    border-left: 3px solid #FFFFFF;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 32%;
    margin-left: -3px;
    transform: rotate(-45deg);

}

/* ------------------------------ Small X Figures  ----------------------------*/

.header-line .line-x3{
    border-left: 3px solid #FFFFFF;
    height: 30px;
    position: absolute;
    left: 90%;
    margin-left: -3px;
    transform: rotate(45deg);
    top: 25%;
}

.header-line .line-x4{
    border-left: 3px solid #FFFFFF;
    height: 30px;
    position: absolute;
    left: 90%;
    margin-left: -3px;
    transform: rotate(-45deg);
    top: 25%;
}

.header-line .line-x5{
    border-left: 3px solid #FFFFFF;
    height: 20px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    transform: rotate(45deg);
    top: 6%;
}

.header-line .line-x6{
    border-left: 3px solid #FFFFFF;
    height: 20px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    transform: rotate(-45deg);
    top: 6%;

}


.header-line .line-x8,.header-line .line-x7{
display: none;

}

.header-line .line-x9{
    border-left: 3px solid #FFFFFF;
    height: 20px;
    position: absolute;
    right: 90%;
    margin-left: -3px;
    transform: rotate(45deg);
    top: 70%;
}

.header-line .line-x10{
    border-left: 3px solid #FFFFFF;
    height: 20px;
    position: absolute;
    right: 90%;
    margin-left: -3px;
    transform: rotate(-45deg);
    top: 70%;
}

/* ---------------------------- Small Stars Figures  ---------------------------------*/

.header-line .line-star1{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);

}

.header-line .line-star2{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(-90deg);

}.header-line .line-star3{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(0deg);
}

.header-line .line-star4{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(-45deg);
}


.figure-star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 5%;
    margin-left: -3px;
    top: 20%;
    position: absolute;
    animation: rotateFigure 10s linear infinite;

}

@keyframes rotateFigure{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  

.figure-star2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 15%;
    margin-left: -3px;
    top: 6%;
    position: absolute;
    animation: rotateText1 5s linear infinite;

}

@keyframes rotateText1{
    0%{
                transform: rotate(-360deg);
    }
    100%{
                transform:rotate(-0deg);
    }
}  

.figure-star3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 0%;
    margin-left: -3px;
    top: 50%;
    position: absolute;
    animation: rotateStar 10s linear infinite;

}

@keyframes rotateStar{
    0%{
                transform: rotate(-360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  

.figure-star4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 15%;
    margin-left: -3px;
    top: 93%;
    position: absolute;
    animation: rotateText1 5s linear infinite;

}

@keyframes rotateText1{
    0%{
                transform: rotate(-360deg);
    }
    100%{
                transform:rotate(-0deg);
    }
}  

.figure-star5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 10%;
    margin-left: -3px;
    top: 175%;
    position: absolute;
    animation: rotateStern 5s linear infinite;
}

@keyframes rotateStern{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(-0deg);
    }
}  

.figure-star6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 10%;
    margin-left: -3px;
    top: 143%;
    position: absolute;
    animation: rotateStern 5s linear infinite;
}

@keyframes rotateStern{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(-0deg);
    }
}  

/* ----------------------------- Big Vertical Lines Figures  -------------------------------*/

.header-line .vertical-line-right{
display: none;

}

.header-line .vertical-line-left{
display: none;

}



 /* ------------------------------------  Title Text ------------------------------------*/


.title-text{
    padding-top: 150px;

}

.title-text .web-h1{
    font-size: 38px;
    font-family: 'Braston';

}

.title-text .designer-h2{
    font-size: 18px;
    font-family: 'Audhistine';
    color: #8AAED5;
    position: relative;
    right: 80px;

}

.title-text .developer-h1{
    font-size: 38px;
    font-family: 'Braston';
    position: relative;
    top: -58px;
    right: -78px;

}

    /* ----------------------------  Big Circle Text DIV / IMG ------------------------------*/

    #header-title .circle-text{
        /* background-color: yellow; */
        min-height: 600px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        /* transition: 0.8s;
        opacity: 0; */
    }

    #header-title .circle-text[data-scroll="in"]{
        opacity: 1;
        transition-delay: 0.8s;
    }


    #header-title .circle-text1{
    height: 350px;
    width: 350px;
    position: relative;
    animation: rotateText 20s linear infinite;
    }  

    @keyframes rotateText{
        0%{
                    transform: rotate(360deg);
        }
        100%{
                    transform:rotate(0deg);
        }
    }

    #header-title .distortion{
        min-width: 270px;
        height: 270px;
        position: absolute;
    }


/* ---------------------------------------------------- Desktop - Section ABOUT  ----------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------*/


 #about{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px white;  */
    position: relative; 
    height: 1400px;
    /* background-color: blue; */
}


/* -------------- Small Circle Text DIV / IMG ------------------- */


#about .story-text{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 1300px;
    width: 100%;
}  

/* ----------- Story Text / Small circle / My story DIV ---------*/

#about .my-story{
    /* background-color: rebeccapurple;  */
    width: 90%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}  

#about .circle-text2{
    /* background-color: aqua; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}


#about .circle-text-image{
    border-radius: 90%;
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
    position: absolute;
    animation: rotateImage 20s linear infinite;
}   

.my-story p{
    /* border: black solid 1px; */
    font-size: 23px;
    font-display: block;
    max-width: 500px;
}
/* --------------------------------------------------------- Desktop - Section CV  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


#cv{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    position: relative; 
    max-height: 1800px;
    /* background-color: blueviolet; */
}

 /* ------------------------------------  CV Title Text ------------------------------------*/
 #cv .header-line{
    height: 250px;
    /* background-color: brown; */
    position: relative;
}

#cv .header-line .vertical-line-small-1{
    bottom: 70%;
    height: 80px;

}

 #cv .title-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color:green ; */
    height: 250px;
    position: relative;

}

#cv .title-text .creative-h1{
    font-size: 50px;
    font-family: 'Braston';
    /* background-color: rgb(118, 38, 123); */
    height: 70px;
    position: absolute;


}

#cv .title-text h2{
    font-size: 20px;
    font-family: 'Audhistine';
    color: #8AAED5;
    /* background-color: rgb(51, 64, 139); */
    height: 70px;
    position: absolute;
    top: 70px;
    left: 100px;



}

#cv .title-text .designer-h1{
    font-size: 50px;
    font-family: 'Braston';
    /* background-color: aquamarine; */
    height: 70px;
    position: absolute;
    top: 70px;
    left: 200px;


}

/* ------------------------------ CV -  Big X Figures 3  ----------------------------*/

#cv  .header-line .line-x9,#cv  .header-line .line-x10{
    position: absolute;
    top: 400px;
}
 
#cv  .figure-star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    left: -3%;
    top: 59%;
    position: absolute;
    z-index: 999;
    animation: rotateFigure 10s linear infinite;

}

@keyframes rotateFigure{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  

#cv .figure-star2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 2%;
    top:170%;
    position: absolute;
    animation: rotateFigure 10s linear infinite;
    z-index: 999;

}

@keyframes rotateFigure{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  

/* ------------------------------ CV - Downloads/Links/Image  ----------------------------*/

#cv .cv-downloads{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
}

#cv .cv-downloads a{
    text-decoration-line: none;
    font-family: 'Braston';
    font-size: 30px;
    color: #FFFFFF;
background-color: black;
}

/*--------------------------------------------------------DESKTOP - ANIMATION------------------------------------------------------------- */

#animation{
    height: 500px;
    /* background-color: orange; */
    position: relative;
}


.animation-w {
    /* background-color: khaki; */
    position: absolute;
    display: block;
    width: 100vw;
    height: 400px;
    top: 35%;
    left: 42%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* --------------------------------------------------------- Desktop - Section PROJECTS  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/



#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 1px white;  */
    position: relative; 
    /* background-color: #0b3b1c; */
    height: 5000px;
}

.title-text .projects-h1{
    font-size: 50px;
    font-family: 'Braston';
    /* background-color: rosybrown; */
    position: absolute;
    left: 13%;
    top: 50px;

}

.title-text .and-h2{
    font-size: 20px;
    font-family: 'Audhistine';
    /* color: #8AAED5; */
}

.title-text .designs-h1{
    font-size: 50px;
    font-family: 'Braston';
    position: absolute;
    right: 10%;
    top: 180px;


}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 40px 40px;
  }
  
  .column img {
    margin-top: 100px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .gallery-image{
    transition: transform 1.5s;

  }

  .gallery-image h1{
    text-align: left;
    padding-top: 20px;
    font-size: 40px;
    font-weight: lighter;
  }

  .gallery-image p{
    text-align: left;
    font-style: italic;
  }

 .gallery-image img{
    filter: grayscale(100%);
 }

 .gallery-image img:hover{
    filter: none;
    
 }

 .gallery-image:hover{
    /* width: 95%; */
    transform: scale(0.9);
 }

 .gallery-image a{
    text-decoration: none;
    color: #FFFFFF;
 }

 /* ---------------------------- Small Stars Figures  ---------------------------------*/

#projects .title-text .line-star1{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);

}

#projects .title-text .line-star2{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(-90deg);

}#projects .title-text .line-star3{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(0deg);
}

#projects .title-text .line-star4{
    border-left: 2px solid #FFFFFF;
    height: 30px;
    position: absolute;
    transform: rotate(-45deg);
}

 
 
#projects .title-text .figure-star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 70%;
    top: 90px;
    position: absolute;
    animation: rotateFigure 10s linear infinite;

}

@keyframes rotateFigure{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  

#projects .title-text .figure-star2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    right: 70%;
    top: 140px;
    position: absolute;
    animation: rotateFigure 10s linear infinite;

}

@keyframes rotateFigure{
    0%{
                transform: rotate(360deg);
    }
    100%{
                transform:rotate(0deg);
    }
}  


 /* --------------------------------------------------------- Desktop - Section CONTACT  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/


#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px white;  */
    position: relative; 
    /* background-color: #8AAED5; */
    height: 300px;

}

#contact .header-line .vertical-line-small-1{
display:none;

}

#contact .header-line{
    height: 300px;
    width: 100%;
    /* background-color: blue; */
}

#contact .introduction-text {
    height: 200px;
    width: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#contact .introduction-text p{
    height: 150px;
    width: 300px;
    position: absolute;
    bottom: 0px;
    /* background-color: green; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#contact .introduction-text a{
    text-decoration: none;
    position: absolute;
    bottom: -80px;
    color: white;
    font-family: 'braston';
    font-size: 30px;

}

#contact .header-line .line-x3-middle, #contact .header-line .line-x4-middle {
    display: none;
}

#contact iframe{
    display: none;
}
/* --------------------------------------------------------- Desktop - Section FOOTER  ---------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

footer .social-media{
    height: 100px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    
footer .social-media a{
    font-size: 3em; 
    color: white;
}

footer .social-media a:hover i{
    transform:scale(0.8);
    transition: 1s;
}
